<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--SD.Framework配置节点-->
    <section name="sd.framework" type="SD.Infrastructure.FrameworkSection, SD.Infrastructure" />
  </configSections>

  <!--连接字符串-->
  <connectionStrings>
    <add name="ReadConnection" connectionString="Data Source=.;Initial Catalog=SD.Framework.Read;User Id=sa;Password=broadmall123!;MultipleActiveResultSets=true;" />
    <add name="WriteConnection" connectionString="Data Source=.;Initial Catalog=SD.Framework.Write;User Id=sa;Password=broadmall123!;MultipleActiveResultSets=true;" />
  </connectionStrings>

  <!--SD.Framework配置-->
  <sd.framework>
    <!--应用程序Id-->
    <application.id>6ebe3820-1c7a-440b-b77f-f701fc6f80bf</application.id>
    <!--应用程序名称-->
    <application.name>身份认证系统</application.name>
    <!--应用程序版本-->
    <application.version>v4.3.1</application.version>
    <!--服务名称-->
    <service.name>SD.IdentitySystem.AppService</service.name>
    <!--服务显示名称-->
    <service.displayName>SD.IdentitySystem.AppService</service.displayName>
    <!--服务描述-->
    <service.description>身份认证系统服务</service.description>
    <!--数据库读连接名称-->
    <database.read.connectionName>ReadConnection</database.read.connectionName>
    <!--数据库写连接名称-->
    <database.write.connectionName>WriteConnection</database.write.connectionName>
    <!--数据库分区数量-->
    <database.partitions.count>2</database.partitions.count>
    <!--实体所在程序集-->
    <entity.assembly>SD.IdentitySystem.Domain</entity.assembly>
    <!--实体配置所在程序集-->
    <entity.config.assembly>SD.IdentitySystem.Repository</entity.config.assembly>
    <!--实体数据表名前缀-->
    <entity.tablePrefix>IDS</entity.tablePrefix>
    <!--工作流所在程序集-->
    <workflow.assembly>SD.IdentitySystem.Workflow</workflow.assembly>
    <!--工作流持久化连接名称-->
    <workflow.connectionName>WorkflowConnection</workflow.connectionName>
    <!--工作流持久化模式，Permanent/Temporary-->
    <workflow.persistenceMode>Temporary</workflow.persistenceMode>
    <!--工作流最大实例锁定重试次数，默认值：20-->
    <workflow.maxInstanceLockedRetriesCount>20</workflow.maxInstanceLockedRetriesCount>
    <!--身份过期时间，单位：分钟，默认值：20-->
    <authentication.timeout>20</authentication.timeout>
    <!--授权是否启用，默认值：false-->
    <authorization.enabled>false</authorization.enabled>
    <!--定时任务所在程序集-->
    <crontab.assembly>SD.IdentitySystem.Crontab</crontab.assembly>
    <!--定时任务账户账号-->
    <crontab.account.loginId>admin</crontab.account.loginId>
    <!--定时任务账户密码-->
    <crontab.account.password>888888</crontab.account.password>
    <!--定时任务策略列表-->
    <crontab.strategies>
      <strategy type="RecurrenceCrontab" strategyType="RecurrenceStrategy" strategy="00:00:02" />
      <strategy type="AlarmCrontab" strategyType="FixedTimeStrategy" strategy="2021-12-25 09:00:00" />
      <strategy type="ComplexCrontab" strategyType="CronExpressionStrategy" strategy="0 0 0 0 0 ? *" />
    </crontab.strategies>
    <!--外部服务 - 自动更新服务-->
    <external.service.autoUpdate>http://localhost:1090/Release.xml</external.service.autoUpdate>
    <!--外部服务 - 文件服务-->
    <external.service.file>http://localhost:4987</external.service.file>
    <!--外部服务 - 消息服务-->
    <external.service.message>http://localhost:2209</external.service.message>
    <!--外部服务 - OPC服务-->
    <external.service.opc>opc.tcp://localhost:15511</external.service.opc>
    <!--外部服务 - 定时任务服务-->
    <external.service.crontab>http://localhost:20811</external.service.crontab>
    <!--Membership提供者-->
    <membership.provider type="SD.IdentitySystem.MembershipProvider, SD.IdentitySystem.Membership.AspNet" />
  </sd.framework>
</configuration>
