@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>订单：@base.ViewBag.Order</h2>
    <h2>当前SessionId： "@base.ViewBag.SessionId"</h2>
</body>
</html>
