<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <!--依赖注入提供者配置节点-->
    <section name="injectionProviderConfiguration" type="SD.IOC.Core.Configuration.InjectionProviderConfiguration,SD.IOC.Core" />
    <!--依赖注入注册配置节点-->
    <section name="injectionRegisterConfiguration" type="SD.IOC.Core.Configuration.InjectionRegisterConfiguration,SD.IOC.Core" />
    <!--Redis服务器配置节点-->
    <section name="redisConfiguration" type="SD.Toolkits.RedisConfiguration,SD.Toolkits.Redis" />
  </configSections>

  <connectionStrings>
    <!--MongoDB连接字符串-->
    <add name="MongoConnection" connectionString="mongodb://192.168.8.210:27017::Northwind" />
  </connectionStrings>

  <!--应用程序配置-->
  <appSettings>
    <add key="EventSourceAssembly" value="SD.Infrastructure.EventBaseTests"/>
  </appSettings>

  <!--依赖注入提供者配置，默认采用Autofac-->
  <injectionProviderConfiguration type="SD.IOC.Core.AutofacProvider.AutofacInstanceResolver" assembly="SD.IOC.Core" />

  <!--依赖注入注册配置-->
  <injectionRegisterConfiguration>
    <!--As接口程序集列表-->
    <asInterfaceAssemblies>
      <assembly name="SD.Infrastructure.EventBase.Tests" />
    </asInterfaceAssemblies>

    <!--As接口类型列表-->
    <asInterfaceTypes>
      <type name="SD.Infrastructure.EventStoreProvider.RedisStoreProvider" assembly="SD.Infrastructure.EventStoreProvider.Redis" />
      <!--<type name="SD.Infrastructure.EventStoreProvider.MongoStoreProvider" assembly="SD.Infrastructure.EventStoreProvider.MongoDB" />-->
    </asInterfaceTypes>
  </injectionRegisterConfiguration>

  <!--Redis服务器配置-->
  <redisConfiguration>
    <!--读写服务器地址列表-->
    <readWriteServers>
      <server name="WriteHost" host="192.168.3.27" port="6379" password="" />
    </readWriteServers>
    <!--只读服务器地址列表-->
    <readOnlyServers>
      <server name="readHost" host="192.168.3.27" port="6379" password="" />
    </readOnlyServers>
  </redisConfiguration>

</configuration>