<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MrAdvice" version="2.8.11" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="SD.AOP.Core" version="2.0.9" targetFramework="net461" />
  <package id="SD.Common" version="3.0.3" targetFramework="net461" />
  <package id="SD.Toolkits.Json" version="1.0.1" targetFramework="net461" />
</packages>