<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--连接字符串-->
  <connectionStrings>
    <!--日志连接字符串-->
    <add name="LogConnection" connectionString="Data Source=.;Initial Catalog=Framework2015;User Id=sa;Password=shdev2014@;" providerName="" />
  </connectionStrings>

  <!--应用程序配置-->
  <appSettings>
    <!--键：约定；值：connectionString name-->
    <add key="LogConnection" value="LogConnection" />
  </appSettings>
</configuration>