<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <!--EF配置节点-->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--依赖注入提供者配置节点-->
    <section name="injectionProviderConfiguration" type="SD.IOC.Core.Configuration.InjectionProviderConfiguration,SD.IOC.Core" />
    <!--依赖注入注册配置节点-->
    <section name="injectionRegisterConfiguration" type="SD.IOC.Core.Configuration.InjectionRegisterConfiguration,SD.IOC.Core" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <!--连接字符串-->
  <connectionStrings>
    <!--事件源连接字符串-->
    <add name="EventSourceConnection" connectionString="Data Source=.;Initial Catalog=领域事件EF测试;User Id=sa;Password=123456;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <!--领域事件源所在程序集-->
    <add key="EventSourceAssembly" value="ShSoft.Framework2015.Infrastructure.DomainEvent.EFStorerTests" />
    <!--数据表名前缀-->
    <add key="TablePrefix" value="TDIS" />
  </appSettings>

  <!--依赖注入提供者配置，默认采用Autofac-->
  <injectionProviderConfiguration type="SD.IOC.Core.AutofacProvider.AutofacInstanceResolver" assembly="SD.IOC.Core" />

  <!--依赖注入注册配置-->
  <injectionRegisterConfiguration>
    <!--As接口类型列表-->
    <asInterfaceTypes>
      <type name="ShSoft.Framework2015.Infrastructure.DomainEvent.EFStorerTests.EventStorer.EntityFrameworkStorer" assembly="ShSoft.Framework2015.Infrastructure.DomainEvent.EFStorerTests" />
    </asInterfaceTypes>
  </injectionRegisterConfiguration>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

</configuration>