<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--SD.Framework配置节点-->
    <section name="sd.framework" type="SD.Infrastructure.FrameworkSection, SD.Infrastructure" />
    <!--SD.IOC配置节点-->
    <section name="sd.ioc" type="SD.IOC.Core.DependencyInjectionSection, SD.IOC.Core" />
    <!--SD.Toolkits.Redis配置节点-->
    <section name="sd.toolkits.redis" type="SD.Toolkits.RedisSection, SD.Toolkits.Redis" />
  </configSections>

  <!--SD.Framework配置-->
  <sd.framework>
    <!--领域事件源所在程序集-->
    <eventSource.assembly>SD.Infrastructure.EventBaseTests</eventSource.assembly>
  </sd.framework>

  <!--SD.IOC配置-->
  <sd.ioc>
    <!--As接口程序集列表-->
    <asInterfaceAssemblies>
      <assembly name="SD.Infrastructure.EventBase.Tests" />
    </asInterfaceAssemblies>
    <!--As接口类型列表-->
    <asInterfaceTypes>
      <type name="SD.Infrastructure.EventStoreProvider.RedisStoreProvider" assembly="SD.Infrastructure.EventStore.Redis" />
    </asInterfaceTypes>
  </sd.ioc>

  <!--SD.Toolkits.Redis配置-->
  <sd.toolkits.redis password="">
    <!--服务器地址列表-->
    <endpoints>
      <endpoint name="" host="localhost" port="6379" />
    </endpoints>
  </sd.toolkits.redis>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration.ConfigurationManager" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.7.0" newVersion="3.1.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.7.0" newVersion="3.1.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
