@{
    ViewBag.Title = "异常日志管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    <link type="text/css" href="~/Content/css/PlainIndex.css" rel="stylesheet" />
    <script type="text/javascript" src="~/DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="~/Content/js/ExceptionLogIndex.js"></script>
}

<div class="main">
    <!-------------------------------查询参数----------------------------------->
    <div class="nav">
        <table>
            <tr>
                <td>日志Id：</td>
                <td>
                    <input type="text" id="logId" value="" style="width:200px" />
                </td>
                <td>开始时间：</td>
                <td>
                    <input id="srchStartTime" class="Wdate" type="text" onclick="WdatePicker();">
                </td>
                <td>结束时间：</td>
                <td>
                    <input id="srchEndTime" class="Wdate" type="text" onclick="WdatePicker()">
                </td>
                <td><a class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="find();">搜索</a></td>
            </tr>
        </table>
    </div>
    <!-----------------------------查询参数结束--------------------------------->
    <!---------------------------------列表------------------------------------->
    <div id="dvList">
        <table id="tblList"></table>
    </div>
    <!-------------------------------列表结束----------------------------------->
</div>