<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--SD.IOC配置节点-->
    <section name="sd.ioc" type="SD.IOC.Core.DependencyInjectionSection, SD.IOC.Core" />
    <!--SD.Toolkits.AspNet配置节点-->
    <section name="sd.toolkits.aspNet" type="SD.Toolkits.AspNet.AspNetSection, SD.Toolkits.AspNet" />
  </configSections>

  <!--SD.IOC配置-->
  <sd.ioc>
    <!--As接口程序集列表-->
    <asInterfaceAssemblies>
      <assembly name="SD.Infrastructure.StubAppService" />
      <assembly name="SD.Infrastructure.AspNetCore.Tests" />
    </asInterfaceAssemblies>
    <!--As自身程序集列表-->
    <asSelfAssemblies>
      <assembly name="SD.Infrastructure.AspNetCore.Tests" />
    </asSelfAssemblies>
  </sd.ioc>

  <!--SD.Toolkits.AspNet配置-->
  <sd.toolkits.aspNet authorized="true">
    <!--Host地址列表-->
    <hosts>
      <host port="33104" protocol="http" />
    </hosts>
  </sd.toolkits.aspNet>
</configuration>
