<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--CoreWCF配置节点-->
    <sectionGroup name="system.serviceModel" type="CoreWCF.Configuration.ServiceModelSectionGroup, CoreWCF.ConfigurationManager">
      <section name="services" type="CoreWCF.Configuration.ServicesSection, CoreWCF.ConfigurationManager" />
      <section name="bindings" type="CoreWCF.Configuration.BindingsSection, CoreWCF.ConfigurationManager" />
    </sectionGroup>
    <!--SD.IOC配置节点-->
    <section name="sd.ioc" type="SD.IOC.Core.DependencyInjectionSection, SD.IOC.Core" />
    <!--SD.Toolkits.AspNet配置节点-->
    <section name="sd.toolkits.aspNet" type="SD.Toolkits.AspNet.AspNetSection, SD.Toolkits.AspNet" />
  </configSections>

  <!--SD.IOC配置-->
  <sd.ioc>
    <!--As接口程序集列表-->
    <asInterfaceAssemblies>
      <assembly name="SD.Infrastructure.StubAppService" />
      <assembly name="SD.Infrastructure.WCF.Tests" />
    </asInterfaceAssemblies>
    <!--As自身程序集列表-->
    <asSelfAssemblies>
      <assembly name="SD.Infrastructure.WCF.Tests" />
    </asSelfAssemblies>
  </sd.ioc>

  <!--SD.Toolkits.AspNet配置-->
  <sd.toolkits.aspNet authorized="true">
    <!--Host地址列表-->
    <hosts>
      <host port="2265" protocol="http" />
      <host port="22650" protocol="net.tcp" />
    </hosts>
  </sd.toolkits.aspNet>

  <!--CoreWCF配置-->
  <system.serviceModel>
    <!--WCF服务配置，手动增加service节点-->
    <services>
      <!--订单服务契约配置-->
      <service name="SD.Infrastructure.WCF.Tests.Implements.OrderContract">
        <endpoint name="basic.http" address="http://0.0.0.0:2265/Hosts/OrderContract.svc" binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="SD.Infrastructure.WCF.Tests.Interfaces.IOrderContract" />
        <endpoint name="net.tcp" address="net.tcp://0.0.0.0:22650/Hosts/OrderContract.svc" binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="SD.Infrastructure.WCF.Tests.Interfaces.IOrderContract" />
      </service>
    </services>
    <!--WCF绑定配置，配置好无需修改-->
    <bindings>
      <!--基础绑定配置-->
      <basicHttpBinding>
        <binding name="BasicBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <!--TCP绑定配置-->
      <netTcpBinding>
        <binding name="TcpBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>