<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--依赖注入提供者配置节点-->
    <section name="injectionProviderConfiguration" type="SD.IOC.Core.Configuration.InjectionProviderConfiguration,SD.IOC.Core"/>
    <!--依赖注入注册配置节点-->
    <section name="injectionRegisterConfiguration" type="SD.IOC.Core.Configuration.InjectionRegisterConfiguration,SD.IOC.Core"/>
  </configSections>

  <!--依赖注入提供者配置，默认采用Autofac-->
  <injectionProviderConfiguration type="SD.IOC.Core.AutofacProvider.AutofacInstanceResolver" assembly="SD.IOC.Core"/>

  <!--依赖注入注册配置-->
  <injectionRegisterConfiguration>
    <!--As接口程序集列表-->
    <asInterfaceAssemblies>
      <assembly name="SD.Infrastructure.CommandBase.Tests" />
    </asInterfaceAssemblies>

    <!--As基类程序集列表-->
    <asBaseAssemblies>
      <!--<assembly name="AssemblyName" />-->
    </asBaseAssemblies>

    <!--As自身程序集列表-->
    <asSelfAssemblies>
      <!--<assembly name="AssemblyName" />-->
    </asSelfAssemblies>

    <!--As接口类型列表-->
    <asInterfaceTypes>
      <!--<type name="TypeFullName" assembly="AssemblyName" />-->
    </asInterfaceTypes>

    <!--As基类类型列表-->
    <asBaseTypes>
      <!--<type name="TypeFullName" assembly="AssemblyName" />-->
    </asBaseTypes>

    <!--As自身类型列表-->
    <asSelfTypes>
      <!--<type name="TypeFullName" assembly="AssemblyName" />-->
    </asSelfTypes>

    <!--WCF接口列表-->
    <wcfInterfaces>
      <!--<assembly name="AssemblyName" />-->
    </wcfInterfaces>
  </injectionRegisterConfiguration>
</configuration>