<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--日志记录者配置配置节点-->
    <section name="injectionRegisterConfiguration" type="SD.IOC.Core.InjectionRegisterConfiguration, SD.IOC.Core" />
  </configSections>

  <!--依赖注入注册配置-->
  <injectionRegisterConfiguration>
    <!--As接口程序集列表-->
    <asInterfaceAssemblies>
      <assembly name="SD.Infrastructure.SchedulerBase.Tests" />
    </asInterfaceAssemblies>
  </injectionRegisterConfiguration>
</configuration>