<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--依赖注入提供者配置节点-->
    <section name="injectionProviderConfiguration" type="SD.IOC.Core.Configuration.InjectionProviderConfiguration,SD.IOC.Core" />
    <!--依赖注入注册配置节点-->
    <section name="injectionRegisterConfiguration" type="SD.IOC.Core.Configuration.InjectionRegisterConfiguration,SD.IOC.Core" />
  </configSections>
  <!--依赖注入提供者配置，默认采用Autofac-->
  <injectionProviderConfiguration type="SD.IOC.Core.AutofacProvider.AutofacInstanceResolver" assembly="SD.IOC.Core" />
  <!--WCF配置-->
  <system.serviceModel>
    <!--扩展元素配置-->
    <extensions>
      <!--行为扩展配置-->
      <behaviorExtensions>
        <!--依赖注入扩展配置-->
        <add name="injection" type="ShSoft.Framework2016.Infrastructure.WCF.IOC.IocServiceBehaviorElement, ShSoft.Framework2016.Infrastructure.WCF.IOC"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>