<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--SD.Framework配置节点-->
    <section name="sd.framework" type="SD.Infrastructure.FrameworkSection, SD.Infrastructure" />
    <!--SD.IOC配置节点-->
    <section name="sd.ioc" type="SD.IOC.Core.DependencyInjectionSection, SD.IOC.Core" />
    <!--SD.Toolkits.Redis配置节点-->
    <section name="sd.toolkits.redis" type="SD.Toolkits.RedisSection, SD.Toolkits.Redis" />
  </configSections>

  <!--SD.Framework配置-->
  <sd.framework>
    <!--应用程序名称-->
    <application.name>SD.Infrastructure.CrontabBase.Tests</application.name>
    <!--定时任务所在程序集-->
    <crontab.assembly>SD.Infrastructure.CrontabBase.Tests</crontab.assembly>
    <!--定时任务账户账号-->
    <crontab.account.loginId>admin</crontab.account.loginId>
    <!--定时任务账户密码-->
    <crontab.account.password>888888</crontab.account.password>
    <!--定时任务策略列表-->
    <crontab.strategies>
      <strategy type="RecurrenceCrontab" strategyType="RecurrenceStrategy" strategy="00:00:02" />
      <strategy type="AlarmCrontab" strategyType="FixedTimeStrategy" strategy="2021-12-25 09:00:00" />
      <strategy type="ShowTimeCrontab" strategyType="RecurrenceStrategy" strategy="00:00:10" />
      <strategy type="ComplexCrontab" strategyType="CronExpressionStrategy" strategy="0 0 0 0 0 ? *" />
    </crontab.strategies>
  </sd.framework>

  <!--SD.IOC配置-->
  <sd.ioc>
    <!--As接口程序集列表-->
    <asInterfaceAssemblies>
      <assembly name="SD.Infrastructure.CrontabBase.Tests" />
    </asInterfaceAssemblies>
    <!--As自身程序集列表-->
    <asSelfAssemblies>
      <assembly name="SD.Infrastructure.CrontabBase.Tests" />
    </asSelfAssemblies>
    <!--As接口类型列表-->
    <asInterfaceTypes>
      <type name="SD.Infrastructure.CrontabStoreProvider.RedisStoreProvider" assembly="SD.Infrastructure.CrontabStore.Redis" />
    </asInterfaceTypes>
  </sd.ioc>

  <!--SD.Toolkits.Redis配置-->
  <sd.toolkits.redis password="">
    <!--服务器地址列表-->
    <endpoints>
      <endpoint name="" host="localhost" port="6379" />
    </endpoints>
  </sd.toolkits.redis>
</configuration>
