<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Memcached.Client" version="1.0.0" targetFramework="net45" />
  <package id="ServiceStack.Common" version="4.0.40" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.40" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="4.0.40" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.40" targetFramework="net45" />
</packages>