<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--依赖注入提供者配置节点-->
    <section name="injectionProviderConfiguration" type="SD.IOC.Core.Configuration.InjectionProviderConfiguration,SD.IOC.Core" />
    <!--依赖注入注册配置节点-->
    <section name="injectionRegisterConfiguration" type="SD.IOC.Core.Configuration.InjectionRegisterConfiguration,SD.IOC.Core" />
  </configSections>

  <!--依赖注入提供者配置，默认采用Autofac-->
  <injectionProviderConfiguration type="SD.IOC.Core.AutofacProvider.AutofacInstanceResolver" assembly="SD.IOC.Core" />

  <!--依赖注入注册配置-->
  <injectionRegisterConfiguration>
    <!--As接口程序集列表-->
    <asInterfaceAssemblies>
      <assembly name="ShSoft.Framework2016.Infrastructure.StubAppService" />
      <assembly name="ShSoft.Framework2016.Infrastructure.WCFTests" />
    </asInterfaceAssemblies>

    <!--As自身程序集列表-->
    <asSelfAssemblies>
      <assembly name="ShSoft.Framework2016.Infrastructure.WCFTests" />
    </asSelfAssemblies>
  </injectionRegisterConfiguration>

  <!--WCF配置-->
  <system.serviceModel>
    <!--WCF服务配置，手动增加service节点-->
    <services>
      <!--订单服务契约配置-->
      <service behaviorConfiguration="DefaultBehaviors" name="ShSoft.Framework2016.Infrastructure.WCFTests.Implements.OrderContract">
        <endpoint binding="wsHttpBinding" bindingConfiguration="DefaultBinding" contract="ShSoft.Framework2016.Infrastructure.WCFTests.Interfaces.IOrderContract" />
      </service>
    </services>
    <!--WCF绑定配置，配置好无需修改-->
    <bindings>
      <wsHttpBinding>
        <!--默认绑定配置-->
        <binding name="DefaultBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
        <!--事务绑定配置-->
        <binding name="TransactionBinding" transactionFlow="true" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
          <reliableSession enabled="true" ordered="true" inactivityTimeout="00:10:00" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <!--WCF行为配置，配置好无需修改-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehaviors">
          <!--是否允许get请求访问-->
          <serviceMetadata httpGetEnabled="true" />
          <!--是否显示异常信息-->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="65536000" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--WCF客户端配置-->
    <client>
    </client>
  </system.serviceModel>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>
