#dvIframe {
    margin-top: 15px;
    width: 400px;
    float: left;
}

#tblMain {
    width: 350px;
    margin: 5px auto 0;
    text-align: right;
}

    #tblMain td input[type=text], textarea {
        width: 190px;
    }

.tdValidate {
    text-align: right;
    color: #ff0000;
}

.tdContent {
    text-align: left;
}
