<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <!--初始化扩展配置-->
        <add name="initialization" type="SD.Infrastructure.WCF.Server.InitializationBehaviorElement, SD.Infrastructure.WCF.Server" />
        <!--依赖注入扩展配置-->
        <add name="injection" type="SD.IOC.Integration.WCF.IocServiceBehaviorElement, SD.IOC.Integration.WCF" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>