<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--SD.Framework配置节点-->
    <section name="sd.framework" type="SD.Infrastructure.FrameworkSection, SD.Infrastructure" />
    <!--SD.IOC配置节点-->
    <section name="sd.ioc" type="SD.IOC.Core.DependencyInjectionSection, SD.IOC.Core" />
  </configSections>

  <!--SD.Framework配置-->
  <sd.framework>
    <!--身份过期时间，单位：分钟，默认值：20-->
    <authentication.timeout>20</authentication.timeout>
  </sd.framework>

  <!--SD.IOC配置-->
  <sd.ioc>
    <!--As接口程序集列表-->
    <asInterfaceAssemblies>
      <assembly name="SD.Infrastructure.StubAppService" />
      <assembly name="SD.Infrastructure.WCF.Tests" />
    </asInterfaceAssemblies>
    <!--As自身程序集列表-->
    <asSelfAssemblies>
      <assembly name="SD.Infrastructure.WCF.Tests" />
    </asSelfAssemblies>
  </sd.ioc>

  <!--WCF配置-->
  <system.serviceModel>
    <!--WCF服务配置，手动增加service节点-->
    <services>
      <!--订单服务契约配置-->
      <service behaviorConfiguration="DefaultBehaviors" name="SD.Infrastructure.WCF.Tests.Implements.OrderContract">
        <host>
          <baseAddresses>
            <add baseAddress="http://0.0.0.0:2265/Hosts/OrderContract.svc" />
            <add baseAddress="net.tcp://0.0.0.0:22650/Hosts/OrderContract.svc" />
            <add baseAddress="net.pipe://0.0.0.0/22650/Hosts/OrderContract.svc" />
          </baseAddresses>
        </host>
        <endpoint binding="basicHttpBinding" bindingConfiguration="BasicBinding" contract="SD.Infrastructure.WCF.Tests.Interfaces.IOrderContract" />
        <endpoint binding="netTcpBinding" bindingConfiguration="TcpBinding" contract="SD.Infrastructure.WCF.Tests.Interfaces.IOrderContract" />
        <endpoint binding="netNamedPipeBinding" bindingConfiguration="IpcBinding" contract="SD.Infrastructure.WCF.Tests.Interfaces.IOrderContract" />
      </service>
    </services>
    <!--WCF行为配置，配置好无需修改-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehaviors">
          <!--是否允许get请求访问元数据-->
          <serviceMetadata httpGetEnabled="true" />
          <!--从请求消息头中检索元数据地址信息-->
          <useRequestHeadersForMetadataAddress />
          <!--是否显示异常详细信息-->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <!--最大序列化的对象个数-->
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <!--依赖注入扩展配置-->
          <injection />
          <!--初始化扩展配置-->
          <initialization />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--WCF绑定配置，配置好无需修改-->
    <bindings>
      <!--基础绑定配置-->
      <basicHttpBinding>
        <binding name="BasicBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <!--WS绑定配置-->
      <wsHttpBinding>
        <binding name="WsBinding" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
      <!--TCP绑定配置-->
      <netTcpBinding>
        <binding name="TcpBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
      <!--IPC绑定配置-->
      <netNamedPipeBinding>
        <binding name="IpcBinding" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <!--WCF扩展配置-->
    <extensions>
      <behaviorExtensions>
        <!--依赖注入扩展配置-->
        <add name="injection" type="SD.IOC.Integration.WCF.DependencyInjectionBehaviorElement, SD.IOC.Integration.WCF" />
        <!--初始化扩展配置-->
        <add name="initialization" type="SD.Infrastructure.WCF.Server.InitializationBehaviorElement, SD.Infrastructure.WCF.Server" />
      </behaviorExtensions>
    </extensions>
    <!--WCF多协议绑定配置-->
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>