<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <!--依赖注入配置节点-->
    <section name="injectionConfiguration" type="ShSoft.Framework2015.Infrastructure.IOC.Configuration.InjectionConfiguration,ShSoft.Framework2015.Infrastructure.IOC"/>
  </configSections>

  <!--依赖注入配置-->
  <injectionConfiguration>
    <!--As接口程序集列表-->
    <asInterfaceAssemblies>
      <assembly name="ShSoft.Framework2015.Infrastructure.StubAppService" />
    </asInterfaceAssemblies>
  </injectionConfiguration>
</configuration>