<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--MongoDB连接字符串-->
    <add name="MongoConnection" connectionString="mongodb://192.168.8.210:27017::Northwind" />
  </connectionStrings>

  <!--应用程序配置-->
  <appSettings>
    <add key="EntityAssembly" value="SD.Infrastructure.Repository.MongoDB.Tests"/>
  </appSettings>
</configuration>