<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--应用程序配置-->
  <appSettings>
    <!--缓存容器类型：HttpRuntime、Memcached、Redis、Null-->
    <add key="CacheType" value="HttpRuntime" />
    <!--Memcached服务器地址集，示例：192.168.1.10,192.168.1.11-->
    <add key="MemcachedServers" value="" />
    <!--Redis服务器地址，示例：127.0.0.1,6379-->
    <add key="RedisServer" value="" />
  </appSettings>
</configuration>