<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--RabbitMQ主机名称-->
    <add key="RabbitMQ_HostName" value=""/>
    <!--RabbitMQ用户名-->
    <add key="RabbitMQ_UserName" value=""/>
    <!--RabbitMQ密码-->
    <add key="RabbitMQ_Password" value=""/>
  </appSettings>
</configuration>