<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--连接字符串配置节点【运行测试时开启，运行命令行时取消】-->
    <section name="connectionStrings" type="System.Configuration.ConnectionStringsSection, System.Configuration.ConfigurationManager" />
    <!--SD.Framework配置节点-->
    <section name="sd.framework" type="SD.Infrastructure.FrameworkSection, SD.Infrastructure" />
    <!--SD.IOC配置节点-->
    <section name="sd.ioc" type="SD.IOC.Core.DependencyInjectionSection, SD.IOC.Core" />
  </configSections>

  <!--连接字符串-->
  <connectionStrings>
    <!--默认连接字符串-->
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=EFCore.Tests;User Id=sa;Password=shimada123!;MultipleActiveResultSets=true;TrustServerCertificate=true;" />
  </connectionStrings>

  <!--SD.Framework配置-->
  <sd.framework>
    <!--数据库读连接名称-->
    <database.read.connectionName>DefaultConnection</database.read.connectionName>
    <!--数据库写连接名称-->
    <database.write.connectionName>DefaultConnection</database.write.connectionName>
    <!--实体所在程序集-->
    <entity.assembly>SD.Infrastructure.Repository.EntityFrameworkCore.Tests</entity.assembly>
    <!--实体配置所在程序集-->
    <entity.config.assembly>SD.Infrastructure.Repository.EntityFrameworkCore.Tests</entity.config.assembly>
    <!--实体数据表名前缀-->
    <entity.tablePrefix></entity.tablePrefix>
  </sd.framework>

  <!--SD.IOC配置-->
  <sd.ioc>
    <!--As接口程序集列表-->
    <asInterfaceAssemblies>
      <assembly name="SD.Infrastructure.Repository.EntityFrameworkCore.Tests" />
    </asInterfaceAssemblies>
    <!--As自身程序集列表-->
    <asSelfAssemblies>
      <assembly name="SD.Infrastructure.Repository.EntityFrameworkCore.Tests" />
    </asSelfAssemblies>
    <!--As基类类型列表-->
    <asBaseTypes>
      <type name="SD.Infrastructure.Repository.EntityFrameworkCore.Tests.Base.DbSession" assembly="SD.Infrastructure.Repository.EntityFrameworkCore.Tests" />
    </asBaseTypes>
  </sd.ioc>
</configuration>
