<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--SD.Framework配置节点-->
    <section name="sd.framework" type="SD.Infrastructure.FrameworkSection, SD.Infrastructure" />
  </configSections>

  <!--连接字符串-->
  <connectionStrings>
    <!--默认连接字符串-->
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=EFCore.Test;User Id=sa;Password=realgoal123!;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--SD.Framework配置-->
  <sd.framework>
    <!--应用程序名称-->
    <application.name>身份认证系统ASP.NET Core WebApi服务</application.name>
    <!--应用程序版本-->
    <application.version>v4.3.2</application.version>
    <!--实体所在程序集-->
    <entity.assembly>SD.Infrastructure.Repository.EntityFrameworkCore.Stubs</entity.assembly>
    <!--实体配置所在程序集-->
    <entity.config.assembly>SD.Infrastructure.Repository.EntityFrameworkCore.Stubs</entity.config.assembly>
    <!--实体数据表名前缀-->
    <entity.tablePrefix>T_</entity.tablePrefix>
    <!--身份过期时间，单位：分钟，默认值：20-->
    <authentication.timeout>20</authentication.timeout>
  </sd.framework>
</configuration>