<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--Redis服务器配置节点-->
    <section name="redisConfiguration" type="SD.Toolkits.RedisSection, SD.Toolkits.Redis"/>
  </configSections>
  <!--Redis服务器配置-->
  <redisConfiguration password="">
    <!--服务器地址列表-->
    <endpoints>
      <endpoint name="" host="localhost" port="6379" />
    </endpoints>
  </redisConfiguration>
</configuration>
