<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--Redis服务器配置节点-->
    <section name="redisConfiguration" type="SD.Toolkits.RedisConfiguration,SD.Toolkits.Redis" />
  </configSections>
  <!--Redis服务器配置-->
  <redisConfiguration>
    <!--读写服务器地址列表-->
    <readWriteServers>
      <server name="" host="localhost" port="6379" password="" />
    </readWriteServers>
    <!--只读服务器地址列表-->
    <readOnlyServers>
      <server name="" host="localhost" port="6379" password="" />
    </readOnlyServers>
  </redisConfiguration>
</configuration>