<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--RabbitMQ配置节点-->
    <section name="rabbitMQConfiguration" type="SD.Infrastructure.EventStoreProvider.RabbitMQ.Configuration.RabbitMQConfiguration,SD.Infrastructure.EventStoreProvider.RabbitMQ"/>
  </configSections>

  <!--RabbitMQ配置-->
  <rabbitMQConfiguration hostName="" userName="" password="" />
</configuration>