<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--SD.Framework配置节点-->
    <section name="sd.framework" type="SD.Infrastructure.FrameworkSection, SD.Infrastructure" />
  </configSections>

  <!--连接字符串-->
  <connectionStrings>
    <!--MongoDB连接字符串-->
    <add name="MongoConnection" connectionString="mongodb://192.168.8.210:27017::Northwind"/>
  </connectionStrings>

  <!--SD.Framework配置-->
  <sd.framework>
    <!--实体所在程序集-->
    <entity.assembly>SD.Infrastructure.Repository.MongoDB.Tests</entity.assembly>
  </sd.framework>
</configuration>
